.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: white;

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;

    img {
      height: 2rem;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    justify-content: center;

    a {
      padding-left: 0.8rem;

      text-decoration: none;
      color: #535353;
      font-size: 1.2rem;
      transition: all 0.2s ease-in-out;
    }

    a:hover {
      color: black;
      font-weight: bold;
      transform: scale(1.02);
    }
  }
}
