.PhoneCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 25rem;
  height: 38rem;
  margin: 0.5rem;
  padding: 0.3rem;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;

  img {
    width: 5rem;
    height: 8rem;
    padding: 0;
  }

  &__desc {
    padding: 0.5rem;
    width: 20rem;
  }

  &__addInfo {
    display: flex;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;

    p {
      padding: 0.3rem;
    }
  }
}

.PhoneCard:hover {
    transform: scale(1.04);
}