.PhoneCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 40rem;
  margin: 2rem 0.5rem;
  background-color: white;

  img {
    height: 22rem;
  }

  &__mainInfo {
    text-transform: capitalize;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    width: 27rem;
    font-size: 3rem;
  }

  &__addInfo {
    margin-top: 1rem;
    text-transform: capitalize;
    width: 27rem;
  }
}

@media only screen and (min-width: 800px) {
  .PhoneCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 2rem;

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 35rem;
        height: auto;
      }
    }
  }

  .PhoneCard__mainInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 35rem;
    text-align: left;

    h2 {
      font-size: 2rem;
    }

    &__mainInfo__specifics {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      p {
        padding: 0 1rem;
      }
    }
  }
}
