.PhoneList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;

    &__link {
      text-decoration: none;
      color: black;
      cursor: pointer;
      &:focus,
      &:hover,
      &:visited,
      &:link,
      &:active {
        text-decoration: none;
      }
    }
  }
}
